GEMINI_API_KEY=YOUR_GEMINI_API_KEY

PINECONE_API_KEY=YOUR_PINECONE_API_KEY
PINECONE_INDEX=YOUR_PINECONE_INDEX
PINECONE_HOST=YOUR_PINECONE_HOST

DB_NAME=personal_AI_Assistant_Platform
DB_USER=postgres
DB_PASSWORD=YOUR_DB_PASSWORD
DB_HOST=postgres
DB_PORT=5432